<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- slider -->
<div id="slider-container" class="contents" th:fragment="img_slider">
  <section id="image_slider">
    <div id="slider">
      <figure>
        <img src="/img/main/slider_img_01.jpg" alt="">
        <img src="/img/main/slider_img_02.jpg" alt="">
        <img src="/img/main/slider_img_03.jpg" alt="">
        <img src="/img/main/slider_img_04.jpg" alt="">
        <img src="/img/main/slider_img_05.jpg" alt="">
      </figure>
    </div>
  </section>
</div>
<div class="empty_blank">
</div>
<!-- slider end -->

<!-- post_layout1 start -->
<div id="ad-slide" class="slide1" th:fragment="post_layout1">
  <div class="ad_text">
    <p><img class="aligncenter" src="/img/main/mck_610b822258309.png" alt=""></p>
    <article class="post">
      <ul>
        <li><img src="/img/main/ad_01.jpg" alt=""></li>
        <li><img src="/img/main/ad_02.jpg" alt=""></li>
        <li><img src="/img/main/ad_03.jpg" alt=""></li>
      </ul>
    </article>
  </div>
</div>
<!-- post_layout1 end -->

<!-- post_layout2 start -->
<div th:fragment="post_layout2">
  <article class="sub_post">
    <ul>
      <li>
        <div class="sub_list">
                                    <span class="sub_contents_img"><img
                                        src="/img/main/post/post_img_01.jpeg"
                                        alt=""></span>
          <span class="sub_contents_text">
                                        <h4>CELEB</h4>
                                        <h2>
                                            올라운더 셀러브리티! 아이유의 칸 입성기 feat.브로커
                                        </h2>
                                        <p>
                                            영화 브로커 팀이 제 75회 칸 국제영화제 레드카펫을 밟았다. 고레에
                                            <br>
                                            다 히로카즈 감독과 배우 송강호, 강동원, 아이유(이지은), 이주영이
                                            <br>
                                            함께한 특별한 순간을 전한다.
                                        </p>
                                    </span>
        </div>
      </li>
      <div class="empty_blank2"></div>
      <li>
        <div class="sub_list">
                                    <span class="sub_contents_img"><img
                                        src="/img/main/post/post_img_02.jpeg"
                                        alt=""></span>
          <span class="sub_contents_text">
                                        <h4>CELEB</h4>
                                        <h2>
                                            “배우라는 직업에 대한 주체 의식이 생겼다” 배우 ‘박진영’
                                        </h2>
                                        <p>
                                            더욱 짙어진 매력,
                                            <br>
                                            배우이자 그룹 GOT7의 ‘박진영’ 화보와 인터뷰를 공개합니다!
                                        </p>
                                    </span>
        </div>
      </li>
      <div class="empty_blank2"></div>
      <li>
        <div class="sub_list">
                                    <span class="sub_contents_img"><img
                                        src="/img/main/post/post_img_03.jpeg"
                                        alt=""></span>
          <span class="sub_contents_text">
                                        <h4>CELEB</h4>
                                        <h2>
                                            김성령만의 고혹적인 화보
                                        </h2>
                                        <p>
                                            우아한 카리스마의 소유자 배우 김성령과 함꼐한 마리끌레르 6월호
                                            <br>
                                            화보를 공개합니다!
                                        </p>
                                    </span>
        </div>
      </li>
    </ul>
  </article>
</div>
<!-- post_layout2 end -->

<!-- post_layout3 start -->
<div id="ad_slide" class="slide2" th:fragment="post_layout3">
  <div class="ad_text">
    <p><img class="" src="/img/main/fashion.jpeg" alt=""></p>
    <article class="post">
      <ul class="slide2">
        <li>
                                        <span>
                                            <img src="/img/main/fashion_img_01.jpg" alt="">
                                        </span>
          <span>
                                            <p>편한 플랫슈즈가 좋아!</p>
                                        </span>
        </li>
        <li>
                                        <span>
                                            <img src="/img/main/fashion_img_02.png" alt="">
                                        </span>
          <span>
                                            <p>컬러 스트랩 워치를 찾는 즐거움</p>
                                        </span>
        </li>
        <li>
                                        <span>
                                            <img src="/img/main/fashion_img_03.jpg" alt="">
                                        </span>
          <span>
                                            <p>강렬하게 반짝이는 글램 룩</p>
                                        </span>
        </li>
      </ul>
    </article>
  </div>
</div>
<!-- post_layout3 end -->


</html>

