<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/commonHead :: common_head(~{::title})">
  <title>MARIECLAIREKOREA - 마리끌레르</title>
</head>

<body>
<div th:if="${session.loginMember != null}" th:text="로그인됨"></div>
<div id="boxed-wrapper" style="height:auto;">
  <div class="slide-frame"></div>
  <div id="wrapper" class="fusion-wrapper">
    <div class="home" style="position: relative;top:-1px"></div>

    <!-- header start -->
    <header th:replace="fragment/header :: header"/>
    <!-- header end -->

    <!--    contents start-->
    <div id="contents">

      <!-- sub_contents -->
      <div class="sub_contents">

        <!-- slider -->
        <div th:replace="layout/layout :: img_slider">
        </div>
        <!-- slider end -->

        <!-- post_layout1 start -->
        <div th:replace="layout/layout :: post_layout1"></div>
        <!-- post_layout1 end -->

        <div class="empty_blank"></div>

        <!-- post_layout2 start -->
        <div th:replace="layout/layout :: post_layout2"></div>
        <!-- post_layout2 end -->

        <div class="empty_blank"></div>

        <!-- post_layout3 start -->
        <div th:replace="layout/layout :: post_layout3"></div>
        <!-- post_layout3 end -->



        <div class="empty_blank"></div>

      </div>
    </div>
  </div>
  <!-- wrapper end -->

</div>
<!--contents end-->


<!-- footer start -->
<footer th:replace="fragment/footer :: footer"/>
<!-- footer end -->

</body>

</html>